.move-details-card {
    width: 40%;
    margin-right: 5%;
}

.move-details-card-2 {
    width: 55%;
}

@media (max-width: 768px) {
    .move-details-card {
        width: 100%;
        margin-right: 0;
    }
    .move-details-card-2 {
        width: 100%;
        margin-right: 0;
    }
}

.flavor-move-text {
    box-shadow: var(--shadow-card-0-height);
}